@using Newtonsoft.Json;
@{
    var usuario = (!string.IsNullOrEmpty(Context.Session.GetString("user"))) ? JsonConvert.DeserializeObject<Usuarios>(Context.Session.GetString("user")) : new Usuarios();
}

<!DOCTYPE html>

<html lang="pt-br"
      class="light-style layout-menu-fixed layout-wide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <meta name="description" content="" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="~/assets/css/core/libs.min.css">

    <!-- Aos Animation Css -->
    <link rel="stylesheet" href="~/assets/vendor/aos/dist/aos.css">

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="~/assets/css/hope-ui.min.css?v=4.0.0">

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/css/custom.min.css?v=4.0.0">

    <!-- Dark Css -->
    <link rel="stylesheet" href="~/assets/css/dark.min.css">

    <!-- Customizer Css -->
    <link rel="stylesheet" href="~/assets/css/customizer.min.css">

    <!-- RTL Css -->
    <link rel="stylesheet" href="~/assets/css/rtl.min.css">

    <!-- Style Personalizado-->
    <link rel="stylesheet" href="~/assets/css/style_button.css">

    <link rel="stylesheet" href="~/assets/css/style_card.css">

    <link rel="stylesheet" href="~/assets/css/style_form.css">

    <link rel="stylesheet" href="~/assets/css/style_modal.css">

    <link rel="stylesheet" href="~/assets/css/style_pers.css">

    <link rel="stylesheet" href="~/assets/css/style_table.css">

    <link rel="stylesheet" href="~/assets/css/style_table_carrinho.css">

    <link rel="stylesheet" href="~/assets/css/style_table_codbarras.css">

    <link rel="stylesheet" href="~/assets/css/style_table_devolvido.css">

    <link rel="stylesheet" href="~/assets/css/style_table_entregue.css">

    <link rel="stylesheet" href="~/assets/css/style_table_pendente.css">

</head>

<body style="background: #DAD9E0;">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body">
            </div>
        </div>
    </div>
    <!-- loader END -->

    <main class="main-content">
        <div class="position-relative iq-banner">

            <!--Nav Start-->
            <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar" style="background: #000030">
                <div class="container-fluid navbar-inner">

                    <button data-trigger="navbar_main" class="d-xl-none btn btn-primary rounded-pill p-1 pt-0" type="button">
                        <svg width="20px" class="icon-20" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                        </svg>
                    </button>

                    <div class="col-lg-2 col-lg-3 navbar-brand">
                        <a href="~/Produto/VisaoGeral" class="navbar-brand">
                            <!-- Logo start -->
                            <img src="~/assets/images/brands/raio.png" alt="Auto Elétrica Amapá" class="icon-40 text-primary">
                            <!-- Logo end -->
                            <h4 class="logo-title" style="color:#c5e5f5; font-family: " Poppins";">Auto Elétrica Amapá</h4>
                        </a>
                    </div>

                    <!-- Horizontal Menu Start -->
                    <nav id="navbar_main" class="mobile-offcanvas nav navbar navbar-expand-xl hover-nav horizontal-nav mx-md-auto" style="background-color:#000030">
                        <div class="container-fluid">
                            <div class="offcanvas-header px-0">
                                <div class="navbar-brand ms-3">
                                    <!--Logo start-->
                                    <div class="logo-main">
                                        <div class="logo-normal">
                                            <img src="~/assets/images/brands/raio.png" alt="Auto Elétrica Amapá" class="icon-30 text-primary" width="30">
                                        </div>
                                        <div class="logo-mini">
                                            <img src="~/assets/images/brands/raio.png" alt="Auto Elétrica Amapá" class="icon-30 text-primary" width="30">
                                        </div>
                                    </div>
                                    <!--logo End-->
                                    <h4 class="logo-title" style="color:#c5e5f5; font-family: " Poppins";">A. E. Amapá</h4>
                                </div>
                                <button class="btn-close float-end"></button>
                            </div>

                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-links @(ViewBag.CurrentPage == "VisaoGeral" ? "active" : "") larger-font" href="~/Produto/VisaoGeral" onclick="limparSessao()">Controle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-links @(ViewBag.CurrentPage == "ProdutoPendente" ? "active" : "") larger-font" href="~/Produto/ProdutoPendente" onclick="limparSessao()">Pendentes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-links @(ViewBag.CurrentPage == "ProdutoEntregue" ? "active" : "") larger-font" href="~/Produto/ProdutoEntregue" onclick="limparSessao()">Entregues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-links @(ViewBag.CurrentPage == "ProdutoCarrinho" ? "active" : "") larger-font" href="~/Produto/ProdutoCarrinho" onclick="limparSessao()">Carrinho</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-links @(ViewBag.CurrentPage == "ProdutoDevolvido" ? "active" : "") larger-font" href="~/Produto/ProdutoDevolvido" onclick="limparSessao()">Devoluções</a>
                                </li>
                            </ul>
                        </div> <!-- container-fluid.// -->
                    </nav>

                    <!-- Sidebar Menu End -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <span class="navbar-toggler-bar bar1 mt-2"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>


                    <div class="collapse navbar-collapse col-md-2" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link py-0 d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="caption ms-3 d-none d-md-block">
                                        <svg class="icon-32" style="color:#C5E5F4" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8064 7.62361L20.184 6.54352C19.6574 5.6296 18.4905 5.31432 17.5753 5.83872V5.83872C17.1397 6.09534 16.6198 6.16815 16.1305 6.04109C15.6411 5.91402 15.2224 5.59752 14.9666 5.16137C14.8021 4.88415 14.7137 4.56839 14.7103 4.24604V4.24604C14.7251 3.72922 14.5302 3.2284 14.1698 2.85767C13.8094 2.48694 13.3143 2.27786 12.7973 2.27808H11.5433C11.0367 2.27807 10.5511 2.47991 10.1938 2.83895C9.83644 3.19798 9.63693 3.68459 9.63937 4.19112V4.19112C9.62435 5.23693 8.77224 6.07681 7.72632 6.0767C7.40397 6.07336 7.08821 5.98494 6.81099 5.82041V5.82041C5.89582 5.29601 4.72887 5.61129 4.20229 6.52522L3.5341 7.62361C3.00817 8.53639 3.31916 9.70261 4.22975 10.2323V10.2323C4.82166 10.574 5.18629 11.2056 5.18629 11.8891C5.18629 12.5725 4.82166 13.2041 4.22975 13.5458V13.5458C3.32031 14.0719 3.00898 15.2353 3.5341 16.1454V16.1454L4.16568 17.2346C4.4124 17.6798 4.82636 18.0083 5.31595 18.1474C5.80554 18.2866 6.3304 18.2249 6.77438 17.976V17.976C7.21084 17.7213 7.73094 17.6516 8.2191 17.7822C8.70725 17.9128 9.12299 18.233 9.37392 18.6717C9.53845 18.9489 9.62686 19.2646 9.63021 19.587V19.587C9.63021 20.6435 10.4867 21.5 11.5433 21.5H12.7973C13.8502 21.5001 14.7053 20.6491 14.7103 19.5962V19.5962C14.7079 19.088 14.9086 18.6 15.2679 18.2407C15.6272 17.8814 16.1152 17.6807 16.6233 17.6831C16.9449 17.6917 17.2594 17.7798 17.5387 17.9394V17.9394C18.4515 18.4653 19.6177 18.1544 20.1474 17.2438V17.2438L20.8064 16.1454C21.0615 15.7075 21.1315 15.186 21.001 14.6964C20.8704 14.2067 20.55 13.7894 20.1108 13.5367V13.5367C19.6715 13.284 19.3511 12.8666 19.2206 12.3769C19.09 11.8873 19.16 11.3658 19.4151 10.928C19.581 10.6383 19.8211 10.3982 20.1108 10.2323V10.2323C21.0159 9.70289 21.3262 8.54349 20.8064 7.63277V7.63277V7.62361Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <circle cx="12.1747" cy="11.8891" r="2.63616" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
                                        </svg>

                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="~/Login/Index" onclick="limparSessao()">Usuários</a></li>
                                    <li><a class="dropdown-item" href="~/Produto/VerifCodBarras" onclick="limparSessao()">Código de Barras</a></li>
                                    <li><a class="dropdown-item" href="~/Produto/TeclasAtalho" onclick="limparSessao()">Teclas de Atalho</a></li>
                                    <!--<li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="~/Login/Sair">Sair</a></li>-->
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
            <!--Nav End-->
        </div>

        <!-- CARDS TOTALIZADORES -->
        <div class="conatiner-fluid content-inner mt-n5 py-0">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <!-- CARDS TOTALIZADORES -->
    </main>

    <div class="content-wrapper">
        <!-- Footer -->
        <footer>
            <div class="footer-bottom" style="background: #000030;">
                <div class="container py-1">
                    <div class="row">
                        <div class="col-md-12 text-center" style="color: #CCCCCC;">
                            <p class="mb-0">
                                ©
                                <script>document.write(new Date().getFullYear())</script> Syso Tecnologia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- / Footer -->
        <div class="content-backdrop fade"></div>
    </div>

    <!-- Fim do Menu Lateral-->
    <!-- Library Bundle Script -->
    <script src="~/assets/js/core/libs.min.js"></script>

    <!-- External Library Bundle Script -->
    <script src="~/assets/js/core/external.min.js"></script>

    <!-- Widgetchart Script -->
    <script src="~/assets/js/charts/widgetcharts.js"></script>

    <!-- mapchart Script -->
    <script src="~/assets/js/charts/vectore-chart.js"></script>
    <script src="~/assets/js/charts/dashboard.js"></script>

    <!-- fslightbox Script -->
    <script src="~/assets/js/plugins/fslightbox.js"></script>

    <!-- Settings Script -->
    <script src="~/assets/js/plugins/setting.js"></script>

    <!-- Slider-tab Script -->
    <script src="~/assets/js/plugins/slider-tabs.js"></script>

    <!-- Form Wizard Script -->
    <script src="~/assets/js/plugins/form-wizard.js"></script>

    <!-- AOS Animation Plugin-->
    <script src="~/assets/vendor/aos/dist/aos.js"></script>

    <!--<script src="~/mylib/chosen.jquery.js"></script>
    <script src="~/mylib/chosen-ajax.jquery.js"></script>-->
    <!-- App Script -->
    <script src="~/assets/js/hope-ui.js" defer></script>

    <script src="~/assets/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    @await Component.InvokeAsync("Notyf")

    <!-- Teclas de Atalho -->
    <script>
        function redirecionarAtalhoTeclado(tecla, destino) {
            document.addEventListener("DOMContentLoaded", function () {
                document.addEventListener("keydown", function (event) {
                    if (event.altKey && event.key === tecla) {
                        window.location.href = destino;
                        event.preventDefault();
                    }
                });
            });
        }

        redirecionarAtalhoTeclado("o", "/Produto/VisaoGeral"); // Controle
        redirecionarAtalhoTeclado("p", "/Produto/ProdutoPendente"); // Pendente
        redirecionarAtalhoTeclado("e", "/Produto/ProdutoEntregue"); // Entregue
        redirecionarAtalhoTeclado("c", "/Produto/ProdutoCarrinho"); // Carrinho
        redirecionarAtalhoTeclado("d", "/Produto/ProdutoDevolvido"); // Devolvido
        redirecionarAtalhoTeclado("u", "/Login/ConfigLogin"); // Config. Login
        redirecionarAtalhoTeclado("b", "/Produto/VerifCodBarras"); // Verif. Cod. Barras
        redirecionarAtalhoTeclado("i", "/Produto/TeclasAtalho"); // Teclas de atalho
    </script>

    <!-- Preencher Campos Código Barras -->
    <script>
        function preencherCamposCodBarras(idProduto, loc) {

            document.getElementById("idProdutoModalCodBarras").value = idProduto;
            document.getElementById("locProdutoModalCodBarras").value = loc;
        }
    </script>

    <!-- Preencher Campos Editar Carrinho -->
    <script>
        function preencherCamposEditarCarrinho(idPk, idProduto, nomeProduto, quantInteira) {

            document.getElementById("idPkModalEditarQuantidade").value = idPk;
            document.getElementById("idProdutoModalEditarQuantidade").value = idProduto;
            document.getElementById("nomeProdutoModalEditarQuantidade").value = nomeProduto;
            document.getElementById("quantInteiraModalEditarQuantidade").value = quantInteira;
        }
    </script>

    <!-- Limpar Sessão -->
    <script>
        function limparSessao() {
            // Chama o método Sair no controlador para limpar a sessão
            $.ajax({
                url: '@Url.Action("Sair", "Login")',
                type: 'POST', // ou 'GET' dependendo da sua implementação
                success: function () {
                }
            });
        }
    </script>

</body>

</html>

