@model IList<AMAPA.Models.MovimentoProdutoCarrinho>

@using Newtonsoft.Json;
@{
    var usuario = (!string.IsNullOrEmpty(Context.Session.GetString("user"))) ? JsonConvert.DeserializeObject<Usuarios>(Context.Session.GetString("user")) : new Usuarios();
}

<table class="table table-striped table-hover" data-toggle="data-table">
    <thead>
        <tr>
            <th class="text-center">Data</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Produto</th>
            <th class="text-center">Fabricante</th>
            <th class="text-center">Loc</th>
            <th class="text-center">Qtde</th>
            <th class="text-center">Executor</th>
            <th class="text-center">Estoquista</th>
            <th class="text-center">Selecionar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimento in Model)
        {
            <tr>
                <td>@movimento.DATA_CRIACAO</td>
                <td>@movimento.IDENTIFICADOR_OS</td>
                <td>Id Produto: @movimento.ID_PRODUTO; <br /> Produto: @movimento.DESCRICAO</td>
                <td>@movimento.CODIGO_FABRICANTE</td>
                <td>@movimento.LOCALIZACAO</td>
                <td>@movimento.QUANT_INTEIRA <i class="fas fa-edit" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalEditQuant" onclick="preencherCamposEditarCarrinho('@movimento.ID_PK', '@movimento.ID_PRODUTO', '@movimento.DESCRICAO', '@movimento.QUANT_INTEIRA')"></i></td>
                <td>@movimento.ID_EXECUTOR - @movimento.NOME_EXECUTOR</td>
                <td>@movimento.ID_USUARIO - @movimento.NOME_USUARIO</td>
                <td>

                    <input id="checkbox-vinc-remov" class="check-vinc-remov styled-checkbox" type="checkbox" onchange="verificarCheckboxMarcado()" />

                </td>
            </tr>
        }
    </tbody>
</table>

<form id="form-vinc" method="post" class="dynamicForm" asp-controller="Produto" asp-action="VincularProdutoCarrinho" autocomplete="off">
    <partial name="ModalVincular.cshtml" />
</form>


<form id="form-devol" method="post" asp-controller="Produto" asp-action="RemoverProdutoCarrinho" autocomplete="off">
    <partial name="ModalDevolver.cshtml" />
</form>

<form method="post" asp-controller="Produto" asp-action="EditarQuantidadeProdutoCarrinho" autocomplete="off">
    <partial name="ModalEditarQuantidade.cshtml" />
</form>


<script>
    var produtosSelecionados = [];

    function verificarCheckboxMarcado() {
        produtosSelecionados = [];
        var algumCheckboxMarcado = false;
        $('.check-vinc-remov').each(function () {
            if ($(this).is(':checked')) {
                algumCheckboxMarcado = true;
                var row = $(this).closest('tr');
                var produto = {
                    identificaOs: row.find('td:eq(1)').text(),
                    idProduto: row.find('td:eq(2)').text().split('Id Produto: ')[1].split(';')[0].trim(),
                    nomeProduto: row.find('td:eq(2)').text().split(';')[1].split('Produto: ')[1].trim(),
                    fabricProduto: row.find('td:eq(3)').text(),
                    qtdeInteira: row.find('td:eq(5)').text(),
                    idExecutor: row.find('td:eq(6)').text().split('-')[0].trim(),
                    idEstoquista: row.find('td:eq(7)').text().split('-')[0].trim()
                };
                produtosSelecionados.push(produto);
            }
        });

        // Serializar o array de produtos selecionados em JSON
        var listaProdutosJSON = JSON.stringify(produtosSelecionados);
        console.log(listaProdutosJSON);

        // Definir o valor do input com a lista de produtos em JSON
        $('#listaProdutosModalVincular').val(listaProdutosJSON);
        $('#listaProdutosModalDevolver').val(listaProdutosJSON);

        // Habilitar ou desabilitar o botão de confirmação com base nos resultados da verificação
        if (algumCheckboxMarcado) {
            $('#btn-confirmar-produtos-entrega').prop('disabled', false);
            $('#btn-confirmar-produtos-remover').prop('disabled', false);
        } else {
            $('#btn-confirmar-produtos-entrega').prop('disabled', true);
            $('#btn-confirmar-produtos-remover').prop('disabled', true);
        }
    }
</script>




